html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    align-items: center;
    list-style-type: none;
    margin: 20%;
    padding: 0;
}

ul li a {
    text-decoration: none;
    font-size: larger;
    color: rgb(152, 255, 233);
    font-weight: bolder;
}

.principal {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color:rgb(11, 56, 52);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(11, 56, 52);
    padding: 10px 20px 0px;
}
.header {
    min-height: 100px;
    width: 30px;
    height: 160px;
}
.content {
    background-color: rgb(166, 243, 196);
    min-height: 300px;
    padding: 20px;
    display: table;
}

.imagem.content {
    display:contents;
    float: right;
}

.text.content {
    display: table-cell;
    float: right;
}

.footer {
    min-height: 60px;
    font-size:medium;
    background-color: rgb(0, 231, 181);
}
